# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Archivos .env 
.env
.env.development
.env.production

# Cobertura de tests
coverage/

# Archivos generados por IDE
.idea/
*.swp
*.swo

# Archivos de logs
*.log

# Directorios de build específicos de plataforma
android/app/build/
ios/build/
*.app.dSYM.zip

# Caché de pnpm
.pnpm-store/